@tailwind base;
@tailwind components;
@tailwind utilities;

body, #__next {
  @apply text-white bg-gray-800;
  height: 100vh;
}

.aux:has(.base) {
  background-color: #475569;
}

.aux:hover:has(.base){
  background-color: #15803d;
}

.aux:has(.included) {
  background-color:  #15803d;
}

.aux:hover:has(.included) {
  background-color: #7f1d1d;
}

.aux:has(.excluded) {
  background-color: #7f1d1d;
}

.aux:hover:has(.excluded) {
  background-color: #64748b;
}